@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:400,700');
body {
  position: absolute;
  top: 70px;
  padding: 0;
  margin: 0;
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}
a {
  color: #7d0005;
  display: block;
  padding: 10px;
}
a:visited {
  color: #812728;
}
a:active,
a:focus,
a:hover {
  color: #00B7FF;
}
#header {
  height: 70px;
  width: 100%;
  background-color: #e7e7e7;
  position: fixed;
  top: 0;
}
#header img {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 60px;
}
#header h1 {
  position: absolute;
  left: 70px;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 0.75;
  color: #7d0005;
}
#first {
  top: 10px;
  letter-spacing: 1.7px;
}
#second {
  top: 18px;
}
h1 span {
  color: #333333;
}
#big {
  font-size: 1.7em;
}
#header-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  list-style-type: none;
  padding: 0;
}
#header-nav li {
  float: left;
}
